---
development:
  DB_KEY: <replace with crypto key `rake crypto:db_key`>
  MSG_KEY: <replace with crypto key `rake crypto:msg_key`>
  SENDGRID_KEY: <provision key from SendGrid>

test:
  DB_KEY: <database key; generate using `rake crypto:db_key`>
  MSG_KEY: <replace with crypto key `rake crypto:msg_key`>
  SENDGRID_KEY: <provision key from SendGrid>

production:
  DB_KEY: <database key; generate using `rake crypto:db_key`>
  MSG_KEY: <replace with crypto key `rake crypto:msg_key`>
  SENDGRID_KEY: <provision key from SendGrid>
